All Jobs for <strong><%= @company.name %></strong>

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>

<ul>
  <% @company.locations.each do |location| %>
      <li><%= location.location %> - <%= @company.count(@company, location.location) %></li>
  <% end %>
</ul>