<%= form_for @tag do |f| %>
    <div class="field form-group">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-6">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </div>
<% end %>